fieldset {
    display: grid;
    grid-template-areas: 'legend legend' 'label input' 'label input';
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    border: none;
}

legend {
    margin: 0;
    padding: 0;
}
